body {
  font-family: "Avenir Next";
}

.header{
  background-color:#f7f2b4;
  height:90px;
}

.main{
background-color:#bdf7f1;
  height:600px;
}


.footer{
background-color:#ceccf3;
  height:270px;
}

li {
  list-style: none;
  float:left;
  /*上右下左の順で余白を作成*/
  padding: 10px 5px 10px 5px;
}

.header-logo{
  font-size:36px;
  float:left;
  /*上下左右の余白を20px作成*/
  padding: 20px;
}