@charset "utf-8";

/* コメントアウト
p {
    counter-reset: red;
}
*/
div{

    margin-bottom: 200px;
    margin-top: 200px;
    margin-right: 200px;
    font-weight: bold;
    font-size: 200px;
    width: 200px;
    height: 200px;
}

body{
    font-size: 15px;
    line-height: 1.5;
    color: #333;
}

/*section */
.section{
    padding: 30px 15px;
}

.section-headline{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0   0   40px;
}

.about{
    margin: 0;
    display: flex;
}

.about-caption{

    padding: 15px;
}
    

.about-headline{
    margin: 0 0 20px;
    font-size: 40px;
}