.context1{
    background-color: azure;
    padding-left: 5px;
}
.context2{
    background-color: burlywood;
    padding-left: 5px;
}
.context3{
    background-color: chartreuse;
    padding-left: 5px;
}
