<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>勤怠管理システム</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

{% block content %}

<h1>ログイン</h1>

{% if msg %}
<p style="color:red">{{ msg }}</p>
{% endif %}

<form method="POST" action="/">

<label for="mailaddress">メールアドレス</label>
<input type="text" name="mail" id="mailaddress"><br>

<label for="password">パスワード</label>
<input type="password" name="password" id="password"><br>

<input type="submit" value="ログイン">

</form>

{% endblock %}

</body>
</html>