.header {
  display: flex;
  flex-direction: column; /* ← 縦に並べる */
  color: white;
}
.hedderimg{
    padding: 8px 0px 8px 20px;
}

.navi {
  background-color: #272F36; /* ← nav に背景色 */
  width: 100%;               /* 横いっぱいに広げる */
  align-items: center;    /* 中央揃え */
}

.navi ul {
  display: flex;             
  gap: 20px;                 /* メニュー間の間隔 */
  padding: 10px 0;           /* 上下に余白 */
  margin: 0 auto;            /* ul 自体を中央寄せ */
  list-style: none;          
  justify-content: center;    /* li を横方向に中央揃え */
  width: fit-content;         /* 横幅を中身に合わせる */
}

.navi a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navi a:hover {
  color: #a0e0c0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;        /* 折り返す */
  gap: 20px;              /* カード間の余白 */
  justify-content: center;
  margin-top: 100px;
}

