
.sidebar {
  background: rgba(20, 30, 48, 0.7);
  backdrop-filter: blur(12px);
  box-shadow: 2px 0 20px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(255, 255, 255, 0.08);
  overflow-y: auto;
  padding: 10px;
}

.sidebarHeader {
  padding: 18px;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(135deg, #243b55, #141e30);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #d0eaff;
  text-shadow: 0 0 6px #66b1ff;
}

.sidebarBody{
    background-color: #141e30;
}

.parent{
background-color:rgba(20, 30, 48, 0.7);
color: rgb(255, 255, 255);
}