<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css' )}}">
</head>

<body>
    <h1>{{title}}</h1>
    {% if mode in [0,1] %}
    <p>{{message}}</p>
    {% endif %}

    {% if mode in [0,2] %}
    <p>名前を入力して下さい。</p>
    {% elif mode == 1 %}
    {% else %}
    <p>想定外のモードです。</p>
    {% endif %}

    <a href="{{ url_for('index2',id='aaa', name='bbb' ) }}">Next</a>
    <a href="{{ url_for('wtf_form') }}">WTF</a>
    <div>
        <p>Get送信</p>
        <form action="{{ url_for('hello' ) }}" method="get">
            <label for="name">名前</label>
            <input type="text" name="name" id="name">
            <input type="submit" value="送信">
        </form>
        <p>Post送信</p>
        <form action="{{ url_for('hello' ) }}" method="post">
            <label for="name">名前</label>
            <input type="text" name="name" id="name">
            <input type="submit" value="送信">
        </form>
    </div>
    <a href="{{ url_for('escape') }}">エスケープ</a>

    <div>
        {% set var01 = 1 %}
        {{var01}}
    </div>
    <div>
        {% set var01 = 2 %}
        {{var01}}
    </div>
</body>

</html>