{% extends "layout.html" %}
{% block title %}部署一覧{% endblock %}

{% block content %}
<h2>部署一覧</h2>
<table border="1" cellpadding="5" cellspacing="0">
    <tr>
        <th>ID</th><th>部署名</th><th>操作</th>
    </tr>
    {% for d in data %}
        {% set getdata = d.getData() %}
        <tr>
            <td>{{getdata.id}}</td>
            <td>{{getdata.name}}</td>
            <td>
                <a href="{{ url_for('DepartmentManager.edit', id=getdata.id) }}">編集</a>
                <form action="{{ url_for('DepartmentManager.delete', id=getdata.id) }}" method="POST" style="display:inline;">
                    <button type="submit" onclick="return confirm('本当に削除しますか？');">削除</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
<br>
<a href="{{ url_for('DepartmentManager.add') }}">部署登録</a>
<br><br>
<a href="{{ url_for('index') }}">メインメニューへ戻る</a>
{% endblock %}
