header{
background-color: #289928a1;
text-align: center;
color:white;
font-size: 20px;
display: block;
}


.red{
color:red;

}
.blue{
color:blue

}
.purple{
color:purple
}

#inputtext {
    border: none;                 /* 通常の枠線を消す */
    border-bottom: 2px solid #2196F3; /* 下線だけ青色 */
    outline: none;                /* フォーカス時の青枠を消す */
    width: 300px;                 /* 幅 */
    height: 40px;                 /* 高さ */
    font-size: 16px;              /* 文字サイズ */
    padding: 5px 10px;            /* 内側余白 */
}

.output.red{
    color:red;

}
